# Copyright (c) 2022 Brandon Beltran
# SPDX-License-Identifier: MIT

config BOARD_COMBI_LEFT
	bool "combi"
	depends on SOC_NRF52840_QIAA

config BOARD_COMBI_RIGHT
	bool "combi"
	depends on SOC_NRF52840_QIAA

#config BOARD_ENABLE_DCDC
#	bool "Enable DCDC mode"
#	select SOC_DCDC_NRF52X
#	default y
#	depends on BOARD_COMBI
#
#config BOARD_COMBI_CHARGER
#	bool "Enable battery charger"
#	default y
#	depends on BOARD_COMBI
