# Copyright (c) 2022 Brandon Beltran
# SPDX-License-Identifier: MIT

if BOARD_COMBI

	config ZMK_KEYBOARD_NAME
	default "COMBI"

endif # BOARD_COMBI

if BOARD_COMBI_DONGLE

	config ZMK_KEYBOARD_NAME
	default "COMBI L"

	config ZMK_SPLIT_ROLE_CENTRAL
	default y

	config ZMK_SPLIT
		default y

endif # BOARD_COMBI_DONGLE

if BOARD_COMBI_PERIPHERAL

	config ZMK_KEYBOARD_NAME
	default "COMBI R"
	
	config ZMK_SPLIT
		default y

endif # BOARD_COMBI_PERIPHERAL

if BOARD_COMBI || BOARD_COMBI_DONGLE || BOARD_COMBI_PERIPHERAL

	config BOARD
		default "COMBI"

	if USB_DEVICE_STACK

		config USB_NRFX
			default y

	endif # USB_DEVICE_STACK

	config BT_CTLR
		default BT

	config ZMK_BLE
		default y

	config ZMK_USB
		default y

endif # BOARD_COMBI || BOARD_COMBI_DONGLE || BOARD_COMBI_PERIPHERAL
